.container {
  display: flex;
  align-items: center;
  justify-content: center;

  .inputBlock{
    display: flex;

    .currencyInput {
      border: 0;
      text-align: center;
      background-color: transparent;
      width: 100%;
      padding: 0 30px 0 30px;
    }
  }

  .currencyName {
    width: 50px;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
  }
}
